body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #f0f0f0;
  }
  
  .book-container {
    display: flex;
  }
  
  .page {
    display: flex; /* Flexbox로 내부 정렬 */
    
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #bad9fb;
    border: 2px solid #565454; /* 기본 테두리 */
    border-radius: 20px; /* 모서리를 둥글게 */
  }

  .page.left {
    justify-content: right; /* 가로 중앙 정렬 */
    width: 15vw; /* 각 사각형 너비 */
    height: 70vh; /* 각 사각형 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */
  }
  
  .page.right {
    justify-content: left; /* 가로 중앙 정렬 */
    width: 40vw; /* 각 사각형 너비 */
    height: 70vh; /* 각 사각형 높이 */
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */
  }

  .inner-page {
    background-color: aliceblue;
    border: 2px solid #565454; /* 기본 테두리 */
    border-radius: 20px; /* 모서리를 둥글게 */
  }

  .inner-page.left {
    width: 95%; /* 부모의 95% 너비 */
    height: 95%; /* 부모의 80% 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */
  }

  .inner-page.right {
    width: 95%; /* 부모의 95% 너비 */
    height: 95%; /* 부모의 80% 높이 */
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */
  }
  