
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
    * {
        margin: 0;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }
        
    button {
      border: none;
      outline: none;
      background-color: transparent;
      margin: 2px;
      cursor: pointer;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 10px;
    }
   
  .wrapper .nav {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper .nav .current-date {
    font-size: 10px;
    font-weight: 600;
  }
  .wrapper .nav button {
    width: 5px;
    height: 5px;
    font-size: 10px;
    color: #878787;
  }

    .calendar ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        text-align: center;
        padding: 10px;
    }
    .calendar .days {
        margin-top: 10px;
    }
    .calendar ul li {
        width: calc(100% / 7);
        position: relative;
        text-align: right;
    }
    .calendar .days li {
        z-index: 1;
        cursor: pointer;
        font-size: 11px;
    }
    
    .days li.inactive {
        color: #aaa;
    }

    .days li.active {
        color: #fff;
    }

    .calendar .days li::before {
        content: '';
        top: 50%;
        left: 50%;
        border-radius: 50%;
        z-index: -1;
    }
    
    .days li:hover::before {
        background: #f2f2f2;
    }
    .days li.active::before {
        background: #008aff;
    }