@font-face {
  font-family: 'YComputer';
  src: url(../font/Ycomputer.ttf);
}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?fd9kyl');
  src:  url('../font/icomoon.eot?fd9kyl#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?fd9kyl') format('truetype'),
    url('../font/icomoon.woff?fd9kyl') format('woff'),
    url('../font/icomoon.svg?fd9kyl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-play3:before {
    font-size: 10px;
    content: "\ea1c";
  }
  .icon-pause2:before {
    font-size: 10px;
    content: "\ea1d";
  }

  .icon-backward2:before {
    font-size: 10px;
    content: "\ea1f";
  }
  .icon-forward3:before {
    font-size: 10px;
    content: "\ea20";
  }

  .icon-previous2:before {
    content: "\ea23";
  }
  .icon-next2:before {
    content: "\ea24";
  }

  .icon-volume-medium:before {
    content: "\ea27";
  }
  .icon-volume-low:before {
    content: "\ea28";
  }
  .icon-volume-mute2:before {
    content: "\ea2a";
  }
  
  body {
    width: 1200px;
    height: 900px;

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: #99ebcf;
    overflow: hidden;
    background: linear-gradient(to bottom, #99ebcf, #dde7e4, #eff1a6);
  }
  
  .music-player-container {
    padding-left: 610px;
    margin-bottom: 5px;
    z-index: 5;
  }

  .music-player {
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(205, 205, 205);
    border-radius: 3px;

    gap: 3px;
    padding: 2px;
    padding-left: 5px;
    padding-right: 7px;
  }

  .music-player button {
    padding: 0px;
    padding-bottom: 10px;
    border: none;
    cursor: pointer;
    color: rgb(72, 72, 72);
  }

  .music-player button span {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;

    font-size: 11px;
    color: white;
    background-color: #a5a5a5;
    border: 1px solid darkgrey;
    border-radius: 5px
  }

  #playlist-container {
    display: none; /* 기본적으로 숨김 */
    position: absolute;
    left: 0;  /* JavaScript에서 동적으로 설정 */
    top: 0;   /* JavaScript에서 동적으로 설정 */
    background: rgb(250, 250, 250);
    width: 320px;
    border-radius: 5px;
  }

  table {
      width: 100%;
      border-collapse: collapse;
      font-size: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }

  th, td {
    /* border: 1px solid #ccc; */
    padding: 5px;
    text-align: left;
  }

  th {
    border-bottom: 1px solid #ccc;
  }

  th span {
    color: darkgray;
    padding-left: 160px;
  }

  .playBtn {
    padding: 2px;
    padding-top: 7px;
    text-align: center;
    cursor: pointer;
  }

  /* .playBtn i {
    text-align: center;
    padding: 2px;
    background-color: white;
    color: darkorange;

    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
  } */

  .book-container {
    display: flex;
  }

  .left-wing img,
  .right-wing img {
    position: absolute; /* 레이아웃에서 제외 */
    width: auto;
    height: auto;
    z-index: 3;
  }

  .left-wing img {
    top: 7%; /* 부모 요소의 중간에 위치 */
    left: -60px; /* 부모 요소의 왼쪽 바깥으로 이동 */
    max-width: 44%; /* 원하는 비율로 크기 조정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }

  .right-wing img {
    top: 7%; /* 부모 요소의 중간에 위치 */
    right: -60px; /* 부모 요소의 오른쪽 바깥으로 이동 */
    max-width: 15%; /* 원하는 비율로 크기 조정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }
  
  .page {
    display: flex; /* Flexbox로 내부 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background-image: 
    linear-gradient(to bottom, rgb(255, 255, 255, 0.3), rgb(166, 228, 194, 0.3)), /* 그라데이션 */
    url('../img/star.jpg'); /* 배경 이미지 */
    border: 1.5px solid rgb(84, 221, 145, 0.5); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .page.left {
    justify-content: right; /* 가로 중앙 정렬 */
    width: 250px; /* 각 사각형 너비 */
    height: 600px; /* 각 사각형 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: -10px 0 30px 10px #ffffff; /* 그림자 설정 */
  }
  
  .page.right {
    justify-content: left; /* 가로 중앙 정렬 */
    width: 600px; /* 각 사각형 너비 */
    height: 600px; /* 각 사각형 높이 */
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    box-shadow: 10px 0 30px 10px #ffffff; /* 그림자 설정 */
  }

  .inner-page {
    background-color: rgb(255, 255, 255, 0.7);
    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .inner-page.left {
    position: relative;
    overflow: visible;

    display: flex; 
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 90%; /* 부모의 90% 너비 */
    height: 90%; /* 부모의 80% 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .inner-page.left.inner-top {
    font-family: 'YComputer';
    font-size: 11px;
    width: 90%; /* 부모의 10% 너비 */
    height: 8%; /* 부모의 80% 높이 */
    border: none;
    background: none;
  }

  .inner-page.left.inner-top p {
    margin-top: 20px;
  }

  .inner-page.left.inner-bottom {
    background-color: rgb(236, 236, 236);

    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center; /* 세로 중앙 정렬 */
    width: 90%; /* 부모의 90% 너비 */
    height: 88%; /* 부모의 80% 높이 */
    right: -5px;

    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  } 

  .inner-page.left.top {
    width: 90%; /* 100% 너비 */
    height: 180px; /* 200px 높이 */
    margin-top: 20px;
    background-size: cover; /* 이미지 크기 조정 */
    background-position: center; /* 이미지 위치 중앙 */

    border: none;

    border-radius: 0px; /* 모서리를 둥글게 */
  }

  .inner-page.right {
    position: relative;
    overflow: visible;

    background-color: rgb(236, 236, 236);
    width: 95%; /* 부모의 90% 너비 */
    height: 90%; /* 부모의 80% 높이 */
  
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .inner-page.right.inner-top,
  .inner-page.right.inner-bottom {
    background-color: #ffffff;
  }

  .inner-page.right.inner-top {
    font-family: 'YComputer';
    width: 95%; /* 부모의 10% 너비 */
    height: 8%; /* 부모의 80% 높이 */
    border: none;
    background: none;
    display: flex;
    align-items: flex-end; /* 텍스트를 아래쪽으로 정렬 */
  }

  .inner-page.right.inner-top p {
    margin: 0px;
    padding: 10px;
    padding-left: 15px;
    color: darkturquoise;
  }

  .redirect {
    padding: 7px;
    font-family: sans-serif;
    margin-left: auto; /* 오른쪽 정렬 */
  }

  .redirect a {
    font-size: 11px;
    color: grey;
  }

  .inner-page.right.inner-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 95%; /* 부모의 90% 너비 */
    height: 88%; /* 부모의 80% 높이 */

    right: -5px;

    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
    z-index: 2;
  }

  .clip-groups {
    position: absolute;
    right: -10px;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 250px; /* 클립 그룹 간 간격 */
    z-index: 3;
  }
  
  .clips {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 같은 그룹 내 클립 간 간격 */
  }
  
  .clip {
    background: linear-gradient(to right, #d1d1d1, #ffffff);

    width: 25px;
    height: 8px;
    background-color: #c0c0c0;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 기본적인 그림자 */
  }
  
  .clip::before,
  .clip::after {
    content: '';
    position: absolute;
    width: 11px; /* 그림자 크기 */
    height: 11px;
    background-color: rgba(0, 0, 0, 0.3); /* 그림자 색상 */
    border-radius: 50%; /* 동그란 모양 */
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; /* 클립 뒤에 배치 */
  }
  
  .clip::before {
    left: -5px; /* 왼쪽 그림자 위치 */
  }
  
  .clip::after {
    right: -5px; /* 오른쪽 그림자 위치 */
  }
  
  .index-groups {
    position: relative;
    right: 65px;
    top: 110px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 클립 그룹 간 간격 */
    pointer-events: none;
  }

  .index {
    display: block;
    background-color: rgb(255, 255, 255, 0.7);
    width: 82px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #a5a5a5;
    position: relative;
    pointer-events: auto; /* 클릭 가능하게 활성화 */
    cursor: pointer; /* 클릭 가능하게 설정 */
    z-index: 1;
  }

  .index:hover {
    text-decoration: underline;
  }

  .index:active {
    transform: scale(0.95); /* 클릭 시 살짝 축소 */
    background-color: rgba(150, 150, 150, 0.7); /* 클릭 시 색상 변경 */
  }

  .index p {
    margin: 8px;
    margin-left: 16px;
    font-size: 11px;
    text-decoration: none; /* 기본적으로 밑줄 제거 */
  } 
  
  .index.index1::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(192, 160, 225, 0.7); /* 다른 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }

  .index.index2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(241, 94, 94, 0.7); /* 원하는 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }
  
  .index.index3::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(153, 204, 255, 0.7); /* 다른 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }
  
  .index.index4::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgb(153, 255, 153, 0.7) ; /* 다른 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }
  
  .index.index5::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgb(255, 255, 153, 0.7); /* 다른 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }
  
  .index.index6::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: rgba(255, 153, 209, 0.7); /* 다른 색상 */
    border-radius: 0 3px 3px 0; /* 오른쪽 끝 부분 둥글게 */
  }
  
  
