  @font-face {
    font-family: 'YComputer';
    src: url(./font/Ycomputer.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이 */
    background-color: #99ebcf;
    background: linear-gradient(to bottom, #99ebcf, #dde7e4, #eff1a6);
  }
  
  .book-container {
    display: flex;
    z-index: -3;
  }

  .left-wing img,
  .right-wing img {
    position: absolute; /* 레이아웃에서 제외 */
    width: auto;
    height: auto;
    z-index: 1;
  }

  .left-wing img {
    top: 7%; /* 부모 요소의 중간에 위치 */
    left: -60px; /* 부모 요소의 왼쪽 바깥으로 이동 */
    max-width: 44%; /* 원하는 비율로 크기 조정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }

  .right-wing img {
    top: 7%; /* 부모 요소의 중간에 위치 */
    right: -60px; /* 부모 요소의 오른쪽 바깥으로 이동 */
    max-width: 15%; /* 원하는 비율로 크기 조정 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
  }
  
  .page {
    display: flex; /* Flexbox로 내부 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background-image: 
    linear-gradient(to bottom, rgb(255, 255, 255, 0.3), rgb(166, 228, 194, 0.3)), /* 그라데이션 */
    url('./img/star.jpg'); /* 배경 이미지 */
    border: 1.5px solid rgb(84, 221, 145, 0.5); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .page.left {
    justify-content: right; /* 가로 중앙 정렬 */
    width: 270px; /* 각 사각형 너비 */
    height: 600px; /* 각 사각형 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    box-shadow: -10px 0 30px 10px #ffffff; /* 그림자 설정 */
  }
  
  .page.right {
    justify-content: left; /* 가로 중앙 정렬 */
    width: 700px; /* 각 사각형 너비 */
    height: 600px; /* 각 사각형 높이 */
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    box-shadow: 10px 0 30px 10px #ffffff; /* 그림자 설정 */
  }

  .inner-page {
    background-color: rgb(255, 255, 255, 0.7);
    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .inner-page.left {
    position: relative;
    overflow: visible;

    display: flex; 
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 90%; /* 부모의 90% 너비 */
    height: 90%; /* 부모의 80% 높이 */
    border-right: none; /* 왼쪽 페이지는 오른쪽 테두리를 없앰 */

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .inner-page.left.inner-top {
    font-family: 'YComputer';
    font-size: 11px;
    width: 90%; /* 부모의 10% 너비 */
    height: 8%; /* 부모의 80% 높이 */
    border: none;
    background: none;
  }

  .inner-page.left.inner-bottom {
    background-color: rgb(236, 236, 236);

    position: relative;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center; /* 세로 중앙 정렬 */
    width: 90%; /* 부모의 90% 너비 */
    height: 88%; /* 부모의 80% 높이 */
    right: -5px;

    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .profile { 
    display: flex;
    flex-direction: column; /* 세로로 정렬 */
    align-items: center; /* 중앙 정렬 */
    margin: 5px;
    width: 95%; 
    height: 95%;

    background-color: rgb(255, 255, 255);
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .profile-img {
    margin-top: 15px;
    width: 150px;
    height: 140px;
    border: 1.5px solid #ff2919;
  }

  .profile-img img
  {
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .discription {
    margin: 5px;
    margin-top: 15px;
    width: 170px;
    height: 150px;
    border-top: 1.5px dashed #c9c9c9;
    border-bottom: 1.5px dashed #c9c9c9;
  }

  .discription p {
    font-size: 13px;
    color: red;
    margin: 3px;
  }

  .gimochi-box {
    margin: 4px;
    padding-left: 10px;
    width: 150px;
    height: 30px;

    border: 1.5px solid #a5a5a5;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px #a5a5a5;
  }

  .gimochi-box p {
    font-family: 'YComputer';
    font-size: 13px;
    margin: 0; /* 기본 margin 제거 */
    margin-top: 7px;
    color: rgb(60, 186, 218);
  }

  .inner-page.left.top {
    width: 90%; /* 100% 너비 */
    height: 180px; /* 200px 높이 */
    margin-top: 20px;
    background-size: cover; /* 이미지 크기 조정 */
    background-position: center; /* 이미지 위치 중앙 */

    border: none;

    border-radius: 0px; /* 모서리를 둥글게 */
  }

  .inner-page.right {
    position: relative;
    overflow: visible;

    background-color: rgb(236, 236, 236);
    width: 95%; /* 부모의 90% 너비 */
    height: 90%; /* 부모의 80% 높이 */
    border-left: none; /* 오른쪽 페이지는 왼쪽 테두리를 없앰 */

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .inner-page.right.inner-top,
  .inner-page.right.inner-bottom {
    background-color: #ffffff;
  }

  .inner-page.right.inner-top {
    width: 95%; /* 부모의 10% 너비 */
    height: 8%; /* 부모의 80% 높이 */
    border: none;
    background: none;
  }

  .inner-page.right.inner-bottom {
    position: relative;
    display: flex;
    width: 95%; /* 부모의 90% 너비 */
    height: 88%; /* 부모의 80% 높이 */

    right: -5px;

    border: 1.5px solid rgb(86, 84, 84, 0.3); /* 기본 테두리 */
    border-radius: 10px; /* 모서리를 둥글게 */
  }

  .main-contents { 
    
  }

  .clip-groups {
    position: absolute;
    right: -10px;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 250px; /* 클립 그룹 간 간격 */
    z-index: 3;
  }
  
  .clips {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 같은 그룹 내 클립 간 간격 */
  }
  
  .clip {
    background: linear-gradient(to right, #d1d1d1, #ffffff);

    width: 25px;
    height: 8px;
    background-color: #c0c0c0;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 기본적인 그림자 */
  }
  
  .clip::before,
  .clip::after {
    content: '';
    position: absolute;
    width: 11px; /* 그림자 크기 */
    height: 11px;
    background-color: rgba(0, 0, 0, 0.3); /* 그림자 색상 */
    border-radius: 50%; /* 동그란 모양 */
    top: 50%;
    transform: translateY(-50%);
    z-index: -1; /* 클립 뒤에 배치 */
  }
  
  .clip::before {
    left: -5px; /* 왼쪽 그림자 위치 */
  }
  
  .clip::after {
    right: -5px; /* 오른쪽 그림자 위치 */
  }
  
  .index-groups {
    position: absolute;
    right: -70px;
    top: 7%;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 클립 그룹 간 간격 */
  }

  .index {
    background-color: rgb(255, 255, 255, 0.8);
    width: 75px;
    height: 30px;
    border-radius: 5px;
    border: 1.5px solid #a5a5a5;
  }

  .index p {
    margin: 6px;
    margin-left: 8px;
    font-size: 13px;
  }
  
